[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.2.1"
cached-property = "==1.5.1"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
