[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery-worker-on-demand = {editable = true, path = "./.."}
celery = "*"
python-decouple = "*"
docker = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
